
[Desktop Entry]
Type=Action
Name[ru]=GIT gui - Клонировать репозиторий
ToolbarLabel=GIT GUI - clone
Profiles=profile-dir;

[X-Action-Profile profile-dir]
Name=Default profile
Exec=bash -c "$HOME/.local/bin/easygg/git_gui_clone %d"
MimeTypes = inode/directory;
Basenames=*;
Matchcase=false
SelectionCount==1



