
[Desktop Entry]
Type=Action
Name[ru]=SVN gui - Клонировать репозиторий
ToolbarLabel=SVN GUI - clone
Profiles=profile-dir;

[X-Action-Profile profile-dir]
Name=Default profile
Exec=bash -c "$HOME/.local/bin/easygg/svn_gui_clone %d"
MimeTypes = inode/directory;
Basenames=*;
Matchcase=false
SelectionCount==1



